<div ng-controller="productsController">
	<div class="row">
		<div class="col-md-12">			
			<h2>Add a New Product:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form name="search" class="form">
				<div class="form-group">
					<label>Products:</label>
					<input type="text" class="form-control" placeholder="filter..." ng-model="product_name">
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<form name="add_product" class="form">
				<div class="form-group">
					<label>Choose Product:</label> 
					<select name="id" class="form-control" ng-options="product.name for product in products track by product._id" ng-model="newProduct.id" ng-change="showProduct(newProduct.id)">
					</select>
					<input type="text" class="form-control" ng-model="newProduct.name" placeholder="or, enter a new product" required>
				</div>

				<div class="form-group" ng-if="newProduct.image.length !== 0"><!-- why doesn't this hide whole div class? -->
					<label>Current Image:</label> 
					<div ng-model="newProduct.image"><span ng-if="newProduct.image.length === 0">(none selected)</span> {{newProduct.image}}</div>
				</div>

				<div class="form-group">
					<label>New Image:</label>
					<!-- <input type="text" class="form-control" ng-model="newProduct.image"> -->
					<!-- <div class="btn btn-small btn-success" ng-model="newProduct.image">Upload on file change</div> -->
					<input type="file" name="file" class="form-control" onchange="angular.element(this).scope().addFileName(this.files)">
					<!-- <input type="hidden" ng-model="newProduct.image" value="angular.element(file).scope().fileNameChanged(this.files)"> -->
					<!-- class="btn btn-small btn-success" -->				
				</div>

				<div class="form-group">
					<label>Inventory:</label> 
					<input type="number" class="form-control" ng-model="newProduct.inventory" required>
				</div>

				<div class="form-group">
					<label>Description:</label>
					<textarea class="form-control" ng-model="newProduct.description"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" name="Add" class="btn btn-primary" ng-click="addProduct(newProduct)" ng-disabled="add_product.$invalid">					
				</div>
			</form>
		</div>
		<div class="col-md-9 products product">
			<div ng-repeat="product in products | filter:product_name" 	class="col-md-4 item">
				<!-- <p><a href="/products/{{product._id}}">{{product.name}}</a></p> -->
				<div ng-bind="product.name" class="name"></div>					
				<p>{{product.description}}</p>		
				<img ng-hide="product.image.length === 0" src="images/{{product.image}}"><p>
				<form>
					<input type="submit" value="Delete" class="btn btn-danger" ng-click="deleteProduct(product)">	
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- <form name="search" class="form">
				<div class="form-group">
					<label>product products:</label>
					<input type="text" class="form-control" placeholder="filter..." ng-model="product_customer">
				</div>
			</form> -->

			<!-- <table class="table table-striped">
				<thead>
					<tr>
						<th data-field="name">Customer Name</th>
						<th data-field="product">Product</th>
						<th data-field="quantity">Quantity</th>
						<th class="right" data-field="created_at">Date</th>
						<th class="right" data-field="action">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='product in products | filter:product_customer | productBy: created_at'>
						<td ng-bind='product.name'></td>
						<td ng-bind='product.product'></td>
						<td class="center" ng-bind='product.quantity'></td>
						<td class="right" ng-bind='product.created_at | date'></td>
						<td class="right"><form><input type="submit" value="Delete" class="btn btn-danger" ng-click="deleteproduct(product)"></form></td>		
					</tr>
				</tbody>
			</table> -->
		</div>
	</div>
</div>